<a href="https://colab.research.google.com/github/sazidthe1/Data-Science-Zero-to-Hero/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo.png]()
## E-learning - Provided by Othello Financial Service

### Assignment 3 | Submitted by: [Sazidul Islam](https://www.linkedin.com/in/sazidthe1)

- Previous assignment 2 link is [here](https://colab.research.google.com/drive/1MR8Z6PjeqNwWQ7Ai5KiDMfM5T8AW-XCe?usp=sharing)

#### Task 1. Use a loop to display elements from a given list present at odd index positions.


```
Input: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Output: 20 40 60 80 100
```

In [1]:
n = input().split(',')

print('Output:', end=' ')
for i in range(len(n)):
  if i % 2 != 0:
    print(f'{n[i]}', end='')

6
Output:

#### Task 2. Calculate the cube of all numbers from 1 to a given number.

```
Input: input number = 6

Output:
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
```

In [2]:
n = int(input('Input number = '))

for i in range(1, n+1):   # Loop over the range of numbers from 1 to the input number (inclusive)
  print(f'Current Number is : {i}  and the cube is {i**3}')

Input number = 6
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

Or

In [3]:
n = int(input('Input number = '))

i = 1  # Start with 1

while i <= n:  # Loop until i reaches n
    print(f'Current Number is : {i}  and the cube is {i**3}')
    i += 1

Input number = 8
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
Current Number is : 7  and the cube is 343
Current Number is : 8  and the cube is 512

#### Task 3. Write a program to print the following start pattern using the for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [4]:
n = 5

for i in range(n+1):
  print('*' * i)

for i in range(n-1, 0, -1):
  print('*' * i)

*
**
***
****
*****
****
***
**
*

Or

In [5]:
n = int(input('Enter rows number: '))

for i in range(n+1):
  print('*' * i)

for i in range(n-1, 0, -1):
  print('*' * i)

Enter rows number: 8

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

#### Task 4. Display numbers from -10 to -1 using for loop.
```
Output:
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
```

In [6]:
for i in range(-10, 0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1