<a href="https://colab.research.google.com/github/sazidthe1/Data-Science-Zero-to-Hero/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why Python?
Python is the most popular and most used language in Data Science. But why?
- Python is open source. So we do not need to worry about licensing.
- Simple syntax. Looks almost like pseudocode.
- Thousands of libraries and active collaborators.

# Operators
There are 3 types of operators
- Arithmetic Operators
- Comparison Operators
- Logical Operators

## Arithmetic Operators

In [ ]:
print("Addition (5+3) =",5+3 )
print("Substraction (5-3) =", 5-3 )
print("Multiplication (5*3) =", 5*3 )
print("Exponent (5**3) =", 5**3 )
print("Division (5/3) =", 5/3 )
print("Integer Division (5//3) =", 5//3 )
print("Remainder (5%3) =", 5%3 )

Addition (5+3) = 8
Substraction (5-3) = 2
Multiplication (5*3) = 15
Exponent (5**3) = 125
Division (5/3) = 1.6666666666666667
Integer Division (5//3) = 1
Remainder (5%3) = 2

## Comparison Operators

In [ ]:
print("Less than: (5<3) =>",5<3 )
print("Less than or Equal to: (5<=3) =>", 5<=3 )
print("Equal to: (5==3) =>", 5==3 )
print("Greater than: (5>3) =>", 5>3 )
print("Greater than or equal to: (5>=3) =>", 5>=3 )
print("Not equal to: (5!=3) =>", 5!=3 )

Less than: (5<3) => False
Less than or Equal to: (5<=3) => False
Equal to: (5==3) => False
Greater than: (5>3) => True
Greater than or equal to: (5>=3) => True
Not equal to: (5!=3) => True

# Logical Operators
- and
- or
- not
- xor

In [ ]:
t = True
f = False
print(t and f)
print(t or f)
print(not t)
print(not f)

False
True
False
True

# Variables
Naming Rules:
- case-sensitive (s and S are not same)
- cannot start with special characters except underscore "_"
- cannot start with a number

In [ ]:
a = int(input()) # any variable assignment
A = a + 3
print(a, A)

8
8 11

# Data Types
- Integer
- Boolean
- Float
- String

In [ ]:
a = 212
b = True
c = 19.97
d = "Master Course"
print(a,b,c,d)
type(a), type(b), type(c), type(d)

212 True 19.97 Master Course

(int, bool, float, str)

## Strings
Python has great support for strings

In [ ]:
# write with single or double quote, it does not matter

a = 'Master'
b = "Course"
print(a,b)
print(len(a),len(b))  # String length

hw = a + ' ' + b  # String concatenation
print(hw)

hw212 = '%s %s %d' % (a, b, 121)  # sprintf style string formatting
print(hw212)  # prints "Master Course 212"

fs = f"{a} to {b} from {121}"
print(fs)

Master Course
6 6
Master Course
Master Course 121
Master to Course from 121

In [ ]:
# Bonus

s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase
print(s.rjust(10))      # Right-justify a string, padding with spaces
print(s.center(10))     # Center a string, padding with spaces
print(s.replace('he', 'Tre'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace
print(a*3)
print(fs.split())

Hello
HELLO
     hello
  hello
Trello
world
MasterMasterMaster
['Master', 'to', 'Course', 'from', '121']

# Conditional Statements
- if - else statement
- if - elif - else statement

In [ ]:
x = float(input())

if(x>=3.75):    print("First Class Honors")
elif(x>=3.0):   print("First Class")
else:           print("Second Class")

2.98
Second Class

# Looping Constructs

In [ ]:
# Print all odd numbers from 1 to 10
for i in range(1,11): # st en+1
  if i%2==1 : print(i)

1
3
5
7
9

In [ ]:
for i in range(1,11,2): # st en+1 step
  print(i)

1
3
5
7
9

In [ ]:
start = 50
while start>1:
  print(start)
  start = start // 2

50
25
12
6
3

In [3]:
z = 1000
while z > 1:
  z = z // 2
  print(z)

500
250
125
62
31
15
7
3
1

# Functions

Reusable piece of code created for solving specific problem.

In [ ]:
'''
syntax
def function_name(arguments):
  // code
  return something
'''

def square_of_circle(square):
  return square ** 2

In [ ]:
x = float(input())
square_of_circle(x)

4.5

20.25

In [ ]:
def hello(name, loud=False):
    if loud:
        print(f'HELLO, {name.upper()}!')
    else:
        print('Hello, %s' % name)

hello('Hasan')
hello('Hossain', loud=True)

Hello, Hasan
HELLO, HOSSAIN!

# Classes

In [ ]:
class greetings(object):

  # Constructor
  def __init__(self, name):
    self.name = name

  # Method
  def greet(self, loud=False):
    if loud:
      print(f'HELLO, {self.name.upper()}!')
    else:
      print(f'Hello, {self.name.lower()}!')

g = greetings('Sazid')    # Construct an instance of Greetings class
g.greet()
g.greet(loud=True)

Hello, sazid!
HELLO, SAZID!

In [6]:
class greetings2(object):

  # Constructor
  def __init__(self, name, cohert=5, course='MasterCourse'):
    self.name = name
    self.cohert = cohert
    self.course = course

  # Method
  def greet(self, loud=False):
    if loud:
      print(f'HELLO, {self.name.upper()} from Cohert {self.cohert} of {self.course}!')
    else:
      print(f'Hello, {self.name.lower()} from Cohert {self.cohert} of {self.course}')

g = greetings2('Sazid')    # Construct an instance of Greetings class
g.greet(loud=True)

HELLO, SAZID from Cohert 5 of MasterCourse!

In [9]:
g = greetings2('Shovon')  # Construct an instance of the Greetings2 class
g.greet()

Hello, shovon from Cohert 5 of MasterCourse

In [11]:
f = greetings2('World')
f.greet(loud=True)

HELLO, WORLD from Cohert 5 of MasterCourse!

In [33]:
class Family(object):

    # Constructor
    def __init__(self, name):
      self.name = name

    # Create a method
    def intro(self, member=False):
      if member:
        print(f'Welcome, {self.name.upper()} to the family!')
      else:
        print(f'Sorry {self.name}, you are not part of the family :(')

m1 = Family('Sazid')
m1.intro(member=True)

Welcome, SAZID to the family!

In [34]:
m2 = Family('Suraiya')
m2.intro(member=True)

Welcome, SURAIYA to the family!

In [35]:
m3 = Family('Abc')
m3.intro(member=False)

Sorry Abc, you are not part of the family :(